@if (hasCustomActions()) {
  <div class="page-actions" [class]="computedAlignment()">
    <ng-container [ngTemplateOutlet]="customActionsTemplate"></ng-container>
  </div>
} @else {
  <div
    class="page-actions flex flex-wrap items-center"
    [class]="computedAlignment() + ' ' + gap"
    [class.flex-wrap]="wrap"
    [class.flex-nowrap]="!wrap"
  >
    @for (action of actions; track action.label) {
      <button
        type="button"
        [class]="getButtonClasses(action)"
        [disabled]="action.disabled || action.loading"
        [matTooltip]="action.tooltip"
        [matTooltipPosition]="'above'"
        (click)="onActionClick(action)"
      >
        @if (action.loading) {
          <mat-spinner diameter="16" class="mr-1.5"></mat-spinner>
        } @else if (action.icon) {}
        <span class="hidden sm:inline">{{ action.label }}</span>
        <span class="sm:hidden" [matTooltip]="action.label">{{
          action.label
        }}</span>
      </button>
    }
  </div>
}
